'users/show'
<h1>Your Wedding Registry</h1>
<!--
<h1>Wedding Registry for <%= @user.username %></h1>
<h1><%= @user.username.capitalize %>'s Wedding Registry</h1>
-->

<p>
<ul>
<% @user.items.each do |item| %>
<li><%= item.name %></li>
<% end %>
</ul>
</p>

<p>
<% categories = [] %>
<% @user.items.each do |item| %>
<% categories << item.category %>
<% end %>
<ul>
<% categories.uniq.each do |cat| %>
    <h3><li><%= cat.name %></li></h3>
    <% cat.items.each do |item| %>
        <li><%= item.name if item.user_id == @user.id %></li>
    <% end %>
<% end %>
</ul>
</p>