<h1><%= @user.username %>'s Wedding Registry</h1>

<h2><%= @item.name %></h2>

<p>
Category: <a href="/categories/<%= @item.category.id %>"><%= @item.category.name %></a><br />
</p>

<p>
<form action="/items/<%= @item.id %>/edit" method="get">
<button type="submit" id="edit">Edit Item</button>
</form>

<form action="/items/<%= @item.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit" id="delete">Delete Item</button>
</form>
</p>
